body {
  background: #eca0b6;
  font-family: "Nunito", sans-serif;
}
.body-app {
  background: white;
  margin: 20px auto;
  padding: 20px 20px;
  border-radius: 10pt;
  box-shadow: 0 30px 30px rgba(65, 50, 100, 0.08);
}
