body {
  background: linear-gradient(180deg, #fbebf0 0%, #f3c3d1 50%, #eeacbf 100%);
  font-family: "Nunito", sans-serif;
  padding: 30px 30px;
}
footer {
  border-top: 2px solid #a1e6e3;
  padding: 15px 0 0;
  text-align: center;
}
a {
  color: #eca0b6;
}
.body-app {
  background: white;
  margin: 5% auto;
  padding: 2% 2%;
  height: 100%;
  border-radius: 10pt;
  box-shadow: 0 30px 30px rgba(65, 50, 100, 0.08);
}
.search-form {
  text-align: center;
  padding: 5%;
}
.search-city {
  width: 75%;
  height: 30px;
  border-radius: 8px;
  border: #eeacbf;
  background-color: #a1e6e3;
}
.submit-city {
  width: 10%;
  height: 30px;
  border-radius: 8px;
  background-color: #a1e6e3;
  border: none;
}
.submit-city:hover {
  background-color: #d7fffd;
  box-shadow: 0 30px 30px rgba(65, 50, 100, 0.08);
}

.icon-and-value {
  display: flex;
  font-size: 50px;
  justify-content: space-around;
  margin: 0;
  text-align: center;
}
.icon {
  padding: 10px;
  width: 150px;
  line-height: 10vw;
}
.current-temperature {
  text-align: center;
  padding: 10px;
  line-height: 10vw;
}
.weather-body {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 3%;
  line-height: 5vw;
}

.wind-and-humidty strong {
  color: #eca0b6;
}
.text-main {
  text-align: left;
  padding: 0;
  margin: 0;
}
.weather-forecast {
  margin-bottom: 2%;
  text-align: center;
}
.weather-forecast-temperature-min {
  color: #33bfb8;
}
.weather-forecast-temperature-max {
  color: #eca0b6;
}
